{%extends "FedeRacineBundle::layout.html.twig"%}

 {% block menu %}
     <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Test de Fede</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class=""><a href="{{ path("fede_racine_homepage") }}">Accueil</a></li>
            <li class="active"><a href="{{ path("fede_twig_homepage")}}">Twig - Accueil</a></li>
              <li><a href="{{ path("fede_twig_si")}}">Conditions</a></li>
              <li><a href="{{ path("fede_twig_boucles")}}">Boucles</a></li>
              <li><a href="#contact">CRUD</a></li>
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
         
{%endblock%}
    {% block content %} 
       
      <div class="container theme-showcase" role="main">
       <div class="jumbotron">
        <h1>On va à montre comment fonctionne la Twig  </h1>
        <p>Bonjour à tous,

Aujourd'hui je vous propose de découvrir un moteur de templates du nom de Twig. Twig est le moteur de templates présent dans le célèbre framework Symfony. Ce cours portera sur son utilisation "seule" (c'est-à-dire sans Symfony) mais il faut savoir que la syntaxe que vous apprendrez à mettre dans vos templates sera valable pour ce cours et pour l'utilisation des templates avec Symfony (ou si le moteur est intégré dans un autre framework).
<br/>
Twig est un moteur de templates PHP. Je vous conseille donc d'avoir de bonnes bases en PHP et si possible en orienté objet (bien que ça ne soit pas indispensable). Une petite note : la syntaxe du moteur est énormément inspirée de Jinja, le moteur de templates du framework web Python Django. Un cours est d'ailleurs disponible sur le site.
<br/>
Je vous souhaite une agréable lecture !
<br/>
        Pourquoi utiliser un moteur de templates ?

Depuis tout à l'heure je vous parle de Twig et je viens même de vous montrer les grandes lignes de son fonctionnement. Mais vous vous demandez peut-être pourquoi utiliser un moteur de templates ? Quel(s) avantage(s) peut-on avoir à l'utiliser par rapport à du PHP "classique" ?.

On peut y voir plusieurs avantages notables :
        <ul>
<li>Le code est plus clair : on sait où est le code HTML et on ne doit pas chercher après dans le code PHP</li>
<li>Pour reprendre la phrase du dessus on peut noter le fait que vous savez quel fichier éditer quand vous savez d'où vient l'erreur. De plus pour reprendre l'exemple du blog, si un jour vous voulez modifier simplement l'affichage des billets, vous savez quelle partie du code éditer et vous n'avez pas à chercher.</li>
<li>Si vous travaillez avec un graphiste, c'est un réel plus. Les graphistes connaissent généralement HTML et CSS et pas toujours PHP. Le graphiste s'y retrouve donc beaucoup plus facilement.</li>
        </ul>
Je pourrais en citer d'autres mais je pense que ce sont les plus importants qui m'ont fait adopter un tel système pour des sites de petites et moyennes tailles.
<br/>
Si je vous ai convaincu, je vous propose de lire la suite de ce cours pour voir comment mettre en place Twig.</p>
      </div>
       
    {% endblock%}
 
 